<h1 style="text-align: center"> <b>CLOUDBOX</b></h1>


<% if user_signed_in? %>
<h1 style="text-align: center"><a class="btn-btn-default" ><%= link_to current_user.email, user_path(id: current_user.id) %></a></h1>
<% else %>
<h1 style="text-align: center"> YOU ARE NOT LOGGED IN </h1>
<% end %>