<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- aws sdk for js -->
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.27.min.js"></script>

  <!-- jQuery -->
  <script src = "http://code.jquery.com/jquery-1.11.2.min.js"></script>

  <title>Cloudserver</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="col-md-12">
<%= yield %>
</div>

<footer class="footer" style="text-align: center">
<div>
<p class="text-muted">&copy; Supasit Tanapatpiboon</p>
</div>
</footer>
</body>
</html>
